.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    gap: 30px;
  }
  
  .about-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  