.clients-list {
    display: flex;
    gap: 30px;
  }
  
  .clients-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: rgba(175, 177, 184, 1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-list-icon {
    fill: rgba(175, 177, 184, 1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients-item:hover .client-list-icon,
  .clients-item:focus .client-list-icon {
    fill: #2196f3;
    background-color: #ffffff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .clients {
    padding-bottom: 94px;
  }
  
  .clients-item-link:hover .client-list-icon,
  .clients-item-link:focus .client-list-icon {
    border-color: #2196f3;
    fill: #2196f3;
  }
  
  .clients-item-link:hover,
  .clients-item-link:focus {
    border-color: #2196f3;
  }